<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="PSPDFKitPlugin"
    version="1.0">

    <name>PSPDFKitPlugin</name>
    
    <description>
      &lt;p&gt;This is the official plugin for PSPDFKit in Apache Cordova/PhoneGap!&lt;/p&gt;
      
      &lt;p&gt;The PSPDFKit plugin for Apache Cordova allows you to use the same JavaScript code in your
      Cordova application as you use in your web application. However, unlike in the browser, the
      Cordova application will use the native PSPDFKit app to perform Single Sign On for the user.
      If this is not possible then the sign on will degrade gracefully using the standard dialog
      based authentication.&lt;/p&gt;
    </description>
    
    <license>Apache 2.0</license>
    
    <asset src="www/PSPDFKitPlugin.js" target="PSPDFKitPlugin.js" />
    
    <config-file target="config.xml" parent="/*">
    </config-file>
    
    <engines>
      <engine name="cordova" version=">=3.0.0" />
    </engines>
    
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="plugins">
            <feature name="PSPDFKitPlugin">
                <param name="ios-package" value="PSPDFKitPlugin"/>
            </feature>
        </config-file>
        
        <header-file src="src/ios/PSPDFKitPlugin.h" />
        <source-file src="src/ios/PSPDFKitPlugin.m" />

        <header-file src="src/ios/PSPDFKit.embeddedframework/PSPDFKit.framework/Versions/A/Headers/PSPDFKit.h" />

        <!-- PSPDFKit resource bundles -->
        <resource-file src="src/ios/PSPDFKit.embeddedframework/PSPDFKit.framework/Versions/A/Resources/PSPDFKit.bundle" />
        
        <!-- system frameworks -->
        <framework src="CoreFoundation.framework" weak="true" />
        <framework src="UIKit.framework" weak="true" />
        <framework src="AVFoundation.framework" weak="true" />
        <framework src="CoreMedia.framework" weak="true" />
        <framework src="CoreText.framework" weak="false" />
        <framework src="CoreMedia.framework" weak="false" />
        <framework src="MediaPlayer.framework" weak="false" />
        <framework src="AVFoundation.framework" weak="false" />
        <framework src="ImageIO.framework" weak="false" />
        <framework src="MessageUI.framework" weak="false" />
        <framework src="CoreGraphics.framework" weak="false" />
        <framework src="Foundation.framework" weak="false" />
		<framework src="QuickLook.framework" weak="false" />
		<framework src="Security.framework" weak="false" />
		<framework src="Accelerate.framework" weak="false" />
		<framework src="CoreTelephony.framework" weak="false" />
		<framework src="CoreData.framework" weak="false" />
		<framework src="libsqlite3.dylib" weak="false" />
		<framework src="libxml2.dylib" weak="false" />
		<framework src="libz.dylib" weak="false" />

        <framework src="src/ios/PSPDFKit.embeddedframework/PSPDFKit.framework" custom="true" />
    </platform>
</plugin>